<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/styles/styles.css">
    <title>Просмотр книги</title>
</head>
<body>
    <h1><%= book.title %></h1>
    <p>Автор(ы): <%= book.authors %></p>
    <p>Описание: <%= book.description %></p>
    <% if (book.favorite) { %>
        <p>(Избранное)</p>
    <% } %>
    <a href="/">Назад к списку книг</a>
    <a href="/update/<%= book.id %>">Редактировать книгу</a>
    <a href="/delete/<%= book.id %>">Удалить книгу</a>
</body>
</html>
